<!DOCTYPE html>
<html lang="en">
    <%- include("templates/head") %>
    <body>
        <%- include("templates/navbar") %>
        <div class="header">
            <p><h1>Welcome to StudyTime! Select a language.</h1></p>
            <p><h3>Willkommen zu StudyTime! Waehlen Sie eine Sprache aus.</h3></p>
        </div>

        <div>
            <table>
                <th>
                    <a href="locale/en"><img src="images/US.png" alt="English"></a>
                </th>
                <th> 
                    <a href="locale/de"><img src="images/DE.png" alt="German"></a>
                </th>
                <tbody style="text-align: center;">
                    <td>English</td>
                    <td>German</td>
                </tbody>
            </table>
        </div>
        <%- include("templates/footer") %>
    </body>
</html>