<!DOCTYPE html>
<html>
    <%- include("templates/head") %>
    <body>
        <%- include("templates/navbar") %>
        <!--TODO: Add JS to detect time of day and have dynamic greeting -->
        <h3>Guten Morgen, %user!</h2>
        
            <table>
                <thead>
                    <th>
                        Subjekt
                    </th>
                    <th>
                        Stunden
                    </th>
                    <th>
                        Lernzeit
                    </th>
                    <th>
                        Stunden / Tag
                    </th>
                    <th>
                        Stunden / Woche
                    </th>
                    <th>
                        Stunden / Monat
                    </th>
                    <th>
                        Deadline
                    </th>
                    <th>
                        Misc
                    </th>
                </thead>
                
                <tbody>
                    <td>
                        lorem ipsum
                    </td>
                    <td>
                        lorem ipsum
                    </td>
                    <td>
                        lorem ipsum
                    </td>
                    <td>
                        lorem ipsum
                    </td>
                    <td>
                        lorem ipsum
                    </td>
                    <td>
                        lorem ipsum
                    </td>
                    <td>
                        lorem ipsum
                    </td>
                    <td>
                        <select id="db_misc">
                            <option name="db_edit">Edit</option>
                            <option name="db_deadline">Deadline</option>
                        </select>
                    </td>
                </tbody>
            </table>
        <%- include("templates/footer") %>
    </body>
</html>