<footer>
    <div class="nav">
        <script src="/events/footer.js" defer></script>
        StudyTime Daniel Benjamin Georg 277 055 <a href="/" id="delete_cookies"><%=__("footer_cookies") %></a>
    </div>
</footer>